fastapi
uvicorn
streamlit
python-dotenv
pydantic
pydantic-settings
langchain
langchain-classic
langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai
pypdf
pinecone
rank-bm25
sentence-transformers
numpy
pandas
ragas
datasets
pytest
email-validator
